<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/survey/' + survey()?.slug"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "survey.join" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (survey(); as s) {
  <div class="join-container">
    <h2>{{ s.title }}</h2>

    @if (intakeFields().length > 0) {
    <app-intake-form-renderer
      [fields]="intakeFields()"
      [formData]="formData()"
      (formDataChange)="onFormDataChange($event)"
    ></app-intake-form-renderer>
    }

    <ion-button expand="block" (click)="onSubmit()"> {{ "survey.join" | translate }} </ion-button>
  </div>
  }
</ion-content>
