<ion-header>
  <ion-toolbar>
    <ion-title>{{ "auth.forgot-password-title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-container">
    @if (sent()) {
    <h2>{{ "auth.forgot-password-sent" | translate }}</h2>
    <p class="auth-link">
      <a routerLink="/login">{{ "auth.back-to-login" | translate }}</a>
    </p>
    } @else {
    <p>{{ "auth.forgot-password-info" | translate }}</p>

    <form (ngSubmit)="onSubmit()" class="auth-form">
      <ion-input
        type="email"
        labelPlacement="stacked"
        mode="md"
        fill="outline"
        [(ngModel)]="email"
        name="email"
        [label]="'auth.email' | translate"
      ></ion-input>

      <ion-button expand="block" type="submit" [disabled]="submitting()">
        @if (submitting()) {
        <ion-spinner name="crescent"></ion-spinner>
        } @else { {{ "auth.send-reset-link" | translate }} }
      </ion-button>
    </form>

    <p class="auth-link">
      <a routerLink="/login">{{ "auth.back-to-login" | translate }}</a>
    </p>
    }
  </div>
</ion-content>
